!!!
%html
  %head
    %title Record Label
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %body
    #wrapper
      #header Help | Sign In
      #content
        =yield
      #footer about us message in the footer